/_patch_fmt.py
/Дисперс.АД.pdf
/Корреляц.АД.pdf
/Коэфф.Эласт.pdf
/Л.Диагн.Регр.Модели.pdf
/Л.Пуассон.Регр.Мод.pdf
/ЛР1.1.pdf
/ЛР1.2.pdf
/ЛР1.3.pdf
/Описательн.Статист.pdf
/Регр.Фикт.Перем..pdf
/Регресс.АД.pdf
/Частн.Коррел..pdf